@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.three-scene {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}

.navigation-menu,
.logo,
.button-custom {
    @apply bg-blue-500 text-white p-4 rounded;
}

.logo {
    top: 10px;
    left: 10px;
}

.navigation-menu {
    top: 10px;
    right: 10px;
}

button {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 100;
}

.milestones {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    background: white;
    border-radius: 5px;
    text-align: center;
}

.milestone {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.milestone-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.milestone-nav h4 {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.milestone-nav button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.milestone-nav button:hover {
    background: #0056b3;
}

.milestone p {
    margin: 10px 0 0;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 10;
}

.popup-content {
    position: relative;
    color: black;
}

.popup.visible {
    transform: translateX(0);
}

.close-button {
    position: relative;
    left: 240px;
    top: 0px;
    background: none;
    color: black;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    width: 20px;
    height: 20px;
}

.close-button:hover {
    color: grey;
}

.canvas-container {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.canvas-container.shifted {
    transform: translateX(300px); /* Same as the width of the popup */
}
